extends layout

block content
    div.navspacer
    div#gift
        h4 Purchase a gift for one of your friends:
        h5#saletext *Red indicates sale price
        each events, email in friendEventItems
            #accordion.panel-group
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapse'+friendHash[email].hash)
                                b.giftBold#user #{friendHash[email].name}
                                b  is wishing for:
                    |     
                    div(id='collapse'+friendHash[email].hash class='panel-collapse collapse')
                        b Events:
                        .panel-body
                            each items, id in events   
                                #accordion1.panel-group
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                                a(data-toggle='collapse', data-parent='#accordion1', href='#collapse'+id+friendHash[email].hash class='event-link')
                                                    b #{eventHash[id]}
                                        |     
                                        div(id='collapse'+id+friendHash[email].hash class='panel-collapse collapse event-list '+id)
                                            input(type='hidden' name='id'+id value=id class='event-list' id=id)
                                            input(type='hidden' name='email' value=email id='wanteremail')
                                            .panel-body
                                                table.table
                                                    thead
                                                        tr
                                                            th Item
                                                            th Quantity Desired
                                                            th Age Restriction
                                                            th Quantity To Gift 
                                                            th Price
                                                            th Vendor
                                                    div(id=id)     
                                                        tbody(id=id)
                                                            each item in items
                                                                tr
                                                                    form(name='gift-item' method='POST' action="/gift" class=item.upc)
                                                                        td= item.name
                                                                        td= item.quant
                                                                        td= item.min_age
                                                                        td
                                                                            input(type='number' name='quantity' min='1' max=item.quant value='1' class='quantity')
                                                                        td(id='price' class=item.upc)
                                                                        td(id='vendorlist' class=item.upc)
                                                                        td          
                                                                            input(type='hidden' value=item.upc name='upc' class='upc')  
                                                                            input(type='hidden' value=email name='email')
                                                                            input(type='hidden' value=id name='event_id')  
                                                                            input(type='hidden' value=item.quant name='wantQuantity')                 
                                                                            button(type='submit' class='item-remove') Buy Gift
                                     
                            
