extends layout

block content
    div.navspacer
    button(type='button' class='btn btn-default' id='new-event') Add Event To Wishlist
    div#wishlist
        b#user  I'm wishing for:

        #accordion.panel-group
            each event in events
                - var id = event.event_id;
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                                | #{event.e_name} 
                            .date-range #{event.date_start} to #{event.date_end}
                    |    
                    #collapse1.panel-collapse.collapse
                        .panel-body
                            - var items = eventItems[id]
                                table.table
                                    thead
                                        tr
                                            th Item
                                            th Quantity
                                            th Age Restriction
                                            
                                    tbody
                                        each item in items
                                            tr
                                                td= item.name
                                                td= item.quant
                                                td= item.min_age
                                                td                                                    
                                                    button(type='button' class='item-remove') Remove
                                 a(class='btn btn-default' href='/additem' role='button') Add Item To List   
                                       
    
